<!DOCTYPE html>
<html>
  <head><% include head.ejs  %></head>
  <body>
    <% include header.ejs  %>
    <section class="layout">
        <div class="primary">
            <% include content.ejs  %>
        </div>
    </section>
    <% include footer.ejs  %>
    <% include jsdefaults.ejs  %>
  </body>
</html>
